@import 'vars';
@import 'global';
@import 'fonts';

.header__top{
	background-color: #fff;
}
.header__top-inner{
	display: flex;
	justify-content: space-between;
	height: 90px;
	align-items: center;
}
.header__text{
	margin-left: auto;
	margin-right: 50px;
	span{
		color: $red;
	}
} 

.header__btn{
	font-size: 12px;
	color: #fff;
	width: 72px;
	padding: 4px;
	text-align: center;
	border-radius: 4px;
	margin-left: 7px;
}
.header__btn-login{
	background-color: $green;
}
.header__btn-register{
	background-color: $red;
}
.header__menu{
	background-color: $bg;
}
.menu{
	height: 60px;
	display: flex;
	align-items: center;
}

.menu__list{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 30px;
	font-weight: 500;
	li{
		display: inline-block;
		& + li{
			margin-left: 30px;
		}
	}
	a{
		color: #fff;
	}
}